#contact{
    background-color: $black;
    background-position: center center;
    background-repeat: none;
    background-size: cover;


    .grid{
        

        .inner_grid{


            .content_grid{

                .subtitle{
                    
                    h5{
                        color: $white;
                    }
                }

                .cta-column{
                    grid-column: 2/ span 3;

                    .inner_grid{

                        .content_grid{
                            grid-template-columns: repeat(6, 1fr);
                            grid-gap:inherit;
                            margin-bottom: 10px;

                            
                            .icon{
                                background-position: center center;
                                background-repeat: none;
                                background-size: cover;
                                grid-column: span 1;
                                width: 33px;
                                height: 33px;

                                &.phone{
                                    background-image: url(../../img/icons/call-icon.png);
                                }

                                &.mail{
                                    background-image: url(../../img/icons/mail-icon.png);
                                }
                            }
        
                            a{
                                color: $yellow;
                                grid-column: span 5;
                                font-weight: bold;
                                font-size:15px;
                                text-align: left;
                                margin: auto 0;
                                cursor: pointer;
                                text-decoration: none;

                                &:hover{
                                    color: $white
                                }
                            }

                        }
                    }
                }

                .logo{
                    background-image: url(../../img/TE_LOGO.png);
                    background-position: center center;
                    background-repeat: none;
                    background-size: cover;
                    grid-column: 9/ span 3;
                    height: 100px;
                    grid-row: span 2;
                }


            }
        }
    }
}

